:root {
  --color-primary: #FFFFFF;
  --color-secondary: #171921;
  --color-secondary-rgb: 23, 25, 33;
  --color-border: #1B76FF;
  --color-background: #F0F6FB;
  --color-accent: #FF8615;
  --color-success: #9CD323;
  --color-error: #9CD323;
  --color-light: #6F7383;
  --color-select: #405BC1;
  --color-fixture-bg: #E3E6F3;
  --color-tertiary: #F7F8FA;
  --color-ripple: rgba(255, 255, 255, 0.3);
}

.dark {
  --color-primary: #1c3d5a;
  --color-secondary: #f9a825;
  --color-secondary-rgb: 23, 25, 33;
  --color-border: #1B76FF;
  --color-background: #F0F6FB;
  --color-accent: #FF8615;
  --color-success: #9CD323;
  --color-error: #9CD323;
  --color-light: #6F7383;
  --color-select: #405BC1;
  --color-fixture-bg: #E3E6F3;
  --color-tertiary: #F7F8FA;
  --color-ripple: rgba(255, 255, 255, 0.3);
}
